In [43]:
import pandas as pd
import re

In [58]:
df = pd.read_csv('EPermit.csv')

In [45]:
df.head()

,PERMIT_NUMBER,CLASSIFICATION,REFERENCE_YEAR,APPLICATION_DATE,ISSUANCE_DATE,REVISION_ISSUED,WORK_DESCRIPTION,EXISTING_USE,PROPOSED_USE,USE_TYPE_NAME,...,STREET_TYPE_SUFFIX,STREET_TYPE_FULL,UNIT_NUMBER,CITY_1,CORRECTED_CITY,ZIP_CODE_5,CASE_STATUS_NAME,CASE_MODE_NAME,CASE_NAME,FEES_PAID
0,28654-2011-3,Commercial,2011,10/29/2015 0:00:00,10/29/2015 0:00:00,10/29/2015 0:00:00,Renewal,VACANT LAND,CLUBHOUSE,Indoor/Outdoor Recreation Facility,...,DR,DRIVE,NaN,UPPER MARLBORO,UPPER MARLBORO,20774,"APPLICATION ON HOLD, CORRESPONDENCE SENT",CLOSED,Westphalia Row Clubhouse,2454.00
1,29205-2011-12,Commercial,2011,10/22/2015 0:00:00,10/22/2015 0:00:00,10/22/2015 0:00:00,REV: CHANGE CONTRACTOR 12- REVISE TO CHANGE CO...,CHURCH,CHURCH,Church/Rectory/Synagogue,...,LN,LANE,NaN,DISTRICT HEIGHTS,DISTRICT HEIGHTS,20747,"APPLICATION ON HOLD, CORRESPONDENCE SENT",PERMITTED,CHRISTIAN CONGREGATION ADDITION,3546.25
2,30149-2011-9,Commercial,2011,4/22/2013 0:00:00,11/7/2013 0:00:00,11/7/2013 0:00:00,REVISE TO ADD USE,VACANT LAND,APARTMENTS/MIXED USE/CLUBHOUSE,Apartment,...,DR,DRIVE,NaN,COLLEGE PARK,COLLEGE PARK,20740,"APPLICATION ON HOLD, CORRESPONDENCE SENT",CLOSED,DOMAIN COLLEGE PARK,253869.00
3,34322-2011-2,Commercial,2011,8/20/2013 0:00:00,2/26/2014 0:00:00,2/26/2014 0:00:00,REVISE TO ANSWER FIRE COMMENTS,FAST FOOD/MCDONALDS,FAST FOOD/MCDONALDS,Food Store/Restaurant/Grocery,...,DR,DRIVE,NaN,LANDOVER,LANDOVER,20774,"APPLICATION ON HOLD, CORRESPONDENCE SENT",ABANDONED,MCDONALDS ADDITION & EXTERIOR,2600.00
4,35348-2011-6,Commercial,2011,4/24/2014 0:00:00,1/22/2015 0:00:00,1/22/2015 0:00:00,CHANGE TO ELECTRICAL SERVICE EQUIPMENT,CHURCH,SCHOOL,Church/Rectory/Synagogue,...,RD,ROAD,NaN,HYATTSVILLE,HYATTSVILLE,20782,"APPLICATION ON HOLD, CORRESPONDENCE SENT",CLOSED,ST. JOHN DE LA SALLE,5864.00

# Basic query for whether a cell contains a substring

In [74]:
df['apartment'] = (
    (df.PROPOSED_USE.str.contains('apt', case=False, na=False))
    | (df.PROPOSED_USE.str.contains('apart', case=False, na=False))
).astype(int)

In [75]:
df['apartment'].value_counts()

apartment
0    12135
1       96
Name: count, dtype: int64

# Using regular expressions (regex) to accomplish the same thing with greater extensibility

In [70]:
df['apartment'] = df.PROPOSED_USE.str.contains(r'apart|apt', regex=True, case=False, na=False).astype(int)

In [71]:
df['apartment'].value_counts()

apartment
0    12135
1       96
Name: count, dtype: int64